@using Reddit.Controllers
@{
    string? subredditName = ViewData["subredditName"] as string;
    IEnumerable<Post> posts = ViewData["posts"] as List<Post>;
    ViewData["Title"] = "Subreddit Information and Metrics";
}

<h1>@ViewData["Title"]</h1>
<section>
    <h2>@subredditName</h2>
    @foreach (var post in posts)
    {
        <p>
            <div>
                <h3>@post.Title</h3>
                <p>Author: @post.Author</p>
                <p>Score: @post.Score</p>
            </div>
        </p>
        
    }
</section>
